@import '../node_modules/seasketch-reporting-api/stylesheets/common.less';

.reportView .demo {
  .axis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }
}