
<div class="reportSection tableContainer">
  <h4>Size</h4>
    <div class="tab-pane" id="dataTable">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Area (Acres)</th>
          </tr>
        </thead>
        <tbody>
          {{#areas}}
            <tr>
              <td>{{Name}}</td>
              <td>{{SizeAcres}}</td>
            </tr>
          {{/areas}}
        </tbody>
      </table>
    </div>
</div>

<div class="reportSection">
  <h4>Intertidal Area</h4>
    <div>
      The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}zone{{/isCollection}} includes {{intertidalAreas}} acres of
      the total area in the 0m sea level rise scenario.
    </div>
</div>