<div class="reportSection">
  <h4>Report Sections</h4>
  <p>Use report sections to group information into meaningful categories</p>
</div>
<div class="alert alert-warn">
  <h4>Alerts</h4>
  <p>
    Use alert divs to call out important content. 
    This alert has an <code>alert-warn</code> class.
  </p>
</div>
