{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}
<div class="reportSection">
  <h4>{{sketchClass.name}} Attributes</h4>
    {{>attributes/attributesTable}}
  </table>
</div>
